<!DOCTYPE html>
<html class="html">

<link rel="stylesheet" href="assets/css/style.css">

<body>

<center><h3>Add Accomplishments</h3><center>

<div class="field"> 

<center>
<form ng-submit="add.addAcc(addData);">
    
  <div class="text">
    <label>Title</label>
    <input type="text" class="form-control" name="title" placeholder="Please enter the title.." ng-model="add.addData.title" required>
  </div>&emsp;

  <div class="text">  
    <label>Type</label>&emsp;</br>
      <select class="form-control" ng-model="add.addData.type" required>
        <option value="Badges" selected>Badges</option>
        <option value="Blog">Blog</option>
	<option value="Idea">Idea</option>
        <option value="Asset">Asset</option>
        <option value="Dw_Article">Dw Article</option>
        <option value="Patent">Patent</option>
        <option value="Forum_Submission">Forum Submission</option>
        <option value="Forum_Presentation">Forum Presentation</option>
      </select>
  </div>&emsp;
	
  <div class="text" ng-if="add.addData.type == 'Patent'">  
  <label>Status</label>&emsp;</br>
    <select class="form-control" name="status" ng-model="add.addData.status" required>
       <option value="Disclosure_Submitted" selected>Disclosure Submitted</option>
       <option value="Disclosure_Filed">Disclosure Filed</option>
       <option value="Patent_Submitted">Patent Submitted</option>
	   <option value="Patent_Filed">Patent Filed</option>
     </select>
</div>&emsp;

<div class="text" ng-if="add.addData.type == 'Idea'">  
  <label>Status</label>&emsp;</br>
    <select class="form-control" name="status" ng-model="add.addData.status" required>
       <option value="Idea_Submitted" selected>Idea Submitted</option>
       <option value="Idea_Rejected">Idea Rejected</option>
       <option value="Idea_Accepted">Idea Accepted</option>
	   <option value="Idea_Published">Idea Published</option>
     </select>
</div>&emsp;

  <div class="text">
    <label>Date</label>
    <input type="date" class="form-control" name="date" placeholder="Please enter the title.." ng-model="add.addData.date" required>
  </div>&emsp;

  <div class="text">
    <label>URL</label>
    <input type="url" class="form-control" name="url" placeholder="Please enter the url.." ng-model="add.addData.url" required>
  </div>&emsp;

  <div class="text">
    <label>Description</label>
    <input type="text" size="100" class="form-control" name="desc" placeholder="Please enter the description.." ng-model="add.addData.description" required>
  </div>&emsp;
    
  <div class="text">
    <button class="button" type="submit">CREATE</button>
  </div>

  <div class="row show-hide-message" ng-show="add.successMsg">
    <div class="alert alert-success" >{{ add.successMsg }}</div>
  </div>

  <div class="row show-hide-message" ng-show="add.errorMsg">
    <div class="alert alert-danger" >{{ add.errorMsg }}</div>
  </div>

</form>
</center>
</div>

</body>
</html>
