<!DOCTYPE html>
<html class="html">

<link rel="stylesheet" href="assets/css/style.css">

<body>

<center><h3>Add Accomplishments</h3><center>

<div class="field">

<center>
<form>

<div class="text">
  <label>Title</label>
  <input type="text" class="form-control" name="title" placeholder="Please enter the title.." required>
</div>&emsp;

<div class="text">  
  <label>Type</label>&emsp;</br>
    <select class="form-control" required>
       <option value="Badges" selected>Badges</option>
       <option value="Blog">Blog</option>
       <option value="Asset">Asset</option>
	   <option value="Dw_Article">Dw Article</option>
	   <option value="Patent">Patent</option>
	   <option value="Forum_Submission">Forum Submission</option>
	   <option value="Forum_Presentation">Forum Presentation</option>
     </select>
</div>&emsp;


<div class="text">
  <label>Date</label>
  <input type="date" class="form-control" name="date" placeholder="Please enter the title.."  required>
</div>&emsp;

<div class="text">
  <label>URL</label>
  <input type="url" class="form-control" name="url" placeholder="Please enter the url.." required>
</div>&emsp;

<div class="text">
  <label>Description</label>
  <input type="text" size="100" class="form-control" name="desc" placeholder="Please enter the description.." required>
</div>&emsp;
	
<div class="text">
  <button class="button" type="submit">CREATE</button>
</div>

</form>
</center>
</div>

</body>
</html>
