<link rel="stylesheet" href="assets/css/style.css">
<style>
    h1 {
    text-decoration: underline;
    font-style: italic;
    }
    
    h2 {
    color: green;
    text-decoration: underline;
    }
    
    td {
        font-size: 25px;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
    }
    
    
</style>

<div class="page-header">
  <center><h2>Top Performer</h2></center>
</div>

<center>

<div class="field"> 
<center>
<div class="panel panel-primary">
    <div class="panel-heading">
      <center><strong>Dates</strong></center>
    </div>
    <br>

<form ng-submit="top.getDates(dates);">
<div class="text">
    <label>From</label>
    <input type="date" class="form-control" name="from" placeholder="From-date" ng-model="top.dates.from" required>
  </div>&emsp;

  <div class="text">
    <label>To</label>
    <input type="date" class="form-control" name="to" placeholder="to-Date" ng-model="top.dates.to" required>
  </div>&emsp;
    
    <br>

  <div class="text">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>

</form>
    </div>
</center>
</div>
</center>

<br>

<center>
<div class="field">
<table class='table' style="width:85%">
        <tr ng-repeat="accomplishment in top.accomplishments">

            <td>Username :</td>
            <td>{{ accomplishment._id.username }}</td>
        </tr>
        <tr ng-repeat="accomplishment in top.accomplishments">

            <td>Role :</td>
            <td>{{ accomplishment._id.role }}</td>
        </tr>
        <tr ng-repeat="accomplishment in top.accomplishments">
            <td>Total Score :</td>
            <td>{{ accomplishment.total }}</td>
        </tr>
        <tr ng-repeat="accomplishment in top.accomplishments">
            <td>Total Accomplishments :</td>
            <td>{{ accomplishment.total_accomplishment }}</td>
        </tr>
    </table >
</div>
</center>
