doctype html
html
    body
        h1(align='center') Accomplishments
        a(href='/') HOME
        table(style='border: 2px solid black', width='100%', cellpadding='0', cellspacing='0',border-collapse='collapse')
            thead
            tr(style='color:blue; font-family:Georgia; font-size: 25px; font-style: italic', align='center')
                th(style='border-bottom: 2px solid black', padding='10px') Title
                th(style='border-bottom: 2px solid black', padding='10px') Type
                th(style='border-bottom: 2px solid black', padding='10px') Date
                th(style='border-bottom: 2px solid black', padding='10px') Status
            tbody
            each user, i in users
                tr(style='font-size: 18px; font-family:American Typewriter; font-style: oblique', align='center')
                    td(style='font-weight: bold; border-bottom: 1px solid black', padding='10px')= user.title
                    td(style='border-bottom: 1px solid black', padding='10px')= user.type
                    td(style='border-bottom: 1px solid black', padding='10px')= user.date
                    td(style='border-bottom: 1px solid black', padding='10px')= user.status
