
table
    thead
      tr
        th Title
        th Type
        th Date
        th Status
    tbody
      each user, i in users
        tr
          td= user.title
          td= user.type
          td= user.date
          td= user.status
          
